<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div id="user-data">
          <div formGroupName="personalGroup">
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                id="username"
                class="form-control"
                name="username"
                formControlName="username"
              />
            </div>
            <button
              class="btn btn-default"
              type="button"
              (click)="suggestUserName()"
            >
              Suggest an Username
            </button>
            <div class="form-group">
              <label for="email">Mail</label>
              <input
                type="email"
                id="email"
                class="form-control"
                name="email"
                email
                formControlName="email"
              />
              <span
                *ngIf="
                  !form.get('personalGroup.email').valid &&
                  form.get('personalGroup.email').touched
                "
                >Please enter a valid email.</span
              >
            </div>
          </div>
        </div>
        <p *ngIf="false">Please enter valid username/email.</p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select
            id="secret"
            class="form-control"
            name="secret"
            formControlName="secret"
          >
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea
            name="questionAnswer"
            rows="3"
            class="form-control"
            formControlName="answer"
          ></textarea>
          <span>Your reply: {{ "" }}</span>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              name="gender"
              [value]="gender"
              formControlName="gender"
            />
            {{ gender }}
          </label>
        </div>
        <div class="form-group" formArrayName="hobbies">
          <h3>Hobbies</h3>
          <button class="btn btn-default" type="button" (click)="onAddHobby()">
            Add
          </button>
          <div class="form-group">
            <input
              name="hobbies"
              class="form-control"
              *ngFor="
                let hobby of form.get('hobbies')['controls'];
                let i = index
              "
              [formControlName]="i"
            />
          </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
